* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #17181A;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    position: relative;
}

main {
    position: absolute;
}

.logo {
    color: white;
    font-family: "Abril Fatface";
}

.nav-header {
    align-items: center;
    color: white;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin: auto;
    min-height: 10vh;
    padding: 2rem 0rem;
    position: relative;
    width: 80%;
    z-index: 2;
}

.line1,
.line2,
.line3 {
    background: white;
    height: 0.2rem;
    margin: 0.4rem;
    pointer-events: none;
    transition: all 0.3s ease;
    width: 2rem;
}

.toggle .line1 {
    background: black;
    transform: rotate(-45deg) translate(-6px,7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    background: black;
    transform: rotate(45deg) translate(-6px,-8px);
}

.slide {
    align-items: center;
    background: #17181A;
    border-bottom: 1px solid white;
    /* border-top: 1px solid white; */
    color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-height: 80vh;
    /* padding: 0 1.5rem; */
    width: 80%;
}

.hero-desc {
    align-items: center;
    animation: zoom-in 1s ease;
    display: flex;
    /* flex: 1;
    flex-basis: 25rem; */
    flex-direction: column;
    justify-content: center;
    /* padding-left: 5rem; */
    /* position: relative; */
    width: 50%;
}

.hero-img {
    align-items: center;
    display: flex;
    justify-content: center;
    /* flex: 1;
    flex-basis: 25rem; */
    /* margin: 0 2rem 0 0; */
    overflow: hidden;
    width: 50%;
    /* position: relative; */
}

.hero-img img {
    animation: zoom-in 1s ease;
    object-fit: cover;
    height: 100%;
    width: 90%;
}

@keyframes zoom-in {
    0% {
      transform: scale(0.5, 0.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.notes-span {
    color:rgba(237, 43, 104, 0.823)
}

.store-span {
    color: #3c5e91;
}

.words-span {
    color: rgb(241, 237, 6);
}

.north-span {
    color: rgba(80, 97, 191, 0.823);
}

.music-span {
    color: rgba(60, 181, 72, 0.823)
}

.weather-span {
    color: rgb(181, 103, 174);
}

.presentation-span {
    color: rgb(255, 139, 93);
}

.todo-span {
    color: rgb(182, 197, 89);
}

.drum-span {
    color: rgb(54, 62, 131);
}

.palette-span {
    color: rgb(138, 63, 224);
}

.description-span {
    color: rgb(94, 41, 155);
}

.hero-desc h2 {
    font-family: "Abril Fatface";
    font-size: 2rem;
    /* margin: 0 0 1rem; */
    text-align: center;
}

.hero-desc p {
    color: rgb(192, 190, 190);
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

.description-hero-desc-p {
    font-size: 1rem;
}

.explore {
    align-self: flex-start;
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

.explore:hover {
    background: white;
    border: 1px solid black;
    color: black;
}

.nav-bar {
    /* -webkit-clip-path: circle(50px at 100% -10%); */
    align-items: center;
    background: white;
    /* clip-path: circle(50px at 100% -10%); */
    display: flex;
    height: 100%;
    justify-content: space-around;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 100%;
    z-index: 1;
}

.nav-active {
    transform: translateX(0%);
}

.burger {
    cursor: pointer;
}

.logo-active {
    color: black;
    /* position: fixed; */
    z-index: 2;
}

.nav-links {
    /* flex-basis: 30rem; */
    /* font-size: 3rem; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-links img{
    max-height: 6rem;
    max-width: 6rem;
}

.linkedin-img {
    height: 6rem;
    margin: 0 0 2rem;
    width: 6rem; 
}

.contact {
    flex-basis: 30rem;
}

.contact h2 {
    font-size: 3rem;
    margin: 0 0 2rem;
}

.contact p {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.reveal-img,
.reveal-text {
    background: #17181A;;
    height: 150%;
    left: 0;
    position: absolute;
    top: -15%;
    width: 100%;
}

.title {
    margin: 0 0 1rem;
    overflow: hidden;
    position: relative;
}

.title-swipe {
    height: 100%;
    left: 0;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    width: 100%;
}

.t-swipe1 {
    background:rgba(80, 97, 191, 0.823);
}

.t-swipe2 {
    background: rgba(60, 181, 72, 0.823);
}

.t-swipe3 {
    background: rgb(181, 103, 174);
}

.scrollmagic-pin-spacer {
    position: static !important;
}

body.hide {
    overflow: hidden;
}

.swipe {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .hero-img {
        height: 50vh;
    }
}

@media screen and (max-width: 1024px) {
    main {
        margin: 0;
        width: 100%;
    }

    .slide {
        /* display: block;
        text-align: center; */
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        width: 100%;
    }

    .hero-desc {
        justify-content: space-around;
        padding: 0 1rem;
        width: 100%;
    }

    .title {
        margin: 0 0 0.75rem;
    }

    .nav-header {
        margin-bottom: 2rem;
    }

    .hero-img {
        margin-bottom: 0;
        width: 100%;
    }

    .hero-desc h2 {
        font-size: 1.5rem;
        /* padding: 0 10px; */
        /* margin-bottom: 1rem; */
    }

    .hero-desc p {
        font-size: 1rem;
        /* line-height: 1.5rem; */
        margin: 0 0 1rem;
        padding: 0;
        /* margin-bottom: 2rem; */
        /* padding: 2rem 1rem; */
        text-align: center;
    }

    .explore {
        align-self: center;
        margin: 0;
        text-align: center;
        width: 60%;
    }

    .detail-slide {
        text-align: center;
        width: 100%;
    }

    .nav-links {
        font-size: 2rem;
        text-align: center;
    }

    .contact h2 {
        font-size: 2rem;
        margin: 0 0 1rem;
        text-align: center;
    }

    .contact p {
        font-size: 1.5rem;
        padding: 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .nav-links img{
        max-height: 4rem;
        max-width: 4rem;
    }

    .linkedin-img {
        height: 4rem;
        width: 4rem; 
    }
}

@media screen and (max-width: 426px) {
    .nav-header {
        font-size: 0.75rem;
        margin: 0;
        margin-bottom: 1rem;
        padding: 1rem;
        width: 100%;
    }

    .slide {
        padding: 0;
    }

    .description {
        padding: 0.75rem 0 0 0;
    }

    .hero-img {
        width: 100%;
    }

    .explore {
        padding: 0.5rem 1rem;
    }

    .presentation-exp,
    .description-exp {
        margin: 0 0 0.75rem;
    }

    .reveal-img, .reveal-text {
        height: 0;
    }

    .nav-bar {
        flex-direction: column;
        justify-content: center;
    }

    .nav-links {
        flex-basis: 50rem;
    }
}

@media screen and (max-width: 321px) {
    .contact h2 {
        font-size: 1.25rem;
        margin: 0 0 1rem;
        text-align: center;
    }

    .contact p {
        font-size: 1rem;
        padding: 0;
        text-align: center;
    }
}